<%- include("./partials/header"); -%>

<div class="my-5">
  <h1>MAQE Forum</h1>
  <h6 >
    Your current timezone is: <%= Intl.DateTimeFormat().resolvedOptions().timeZone%>
  </h6>
</div>

<% ejsPost.forEach(post => { %>
<div class="card mb-4">
  <div class="card-header d-flex flex-row align-items-center">
    <img class="author-img" src="<%= ejsAuthor[post.author_id-1].avatar_url%>" alt="<%= ejsAuthor[post.author_id-1].name%>" />
    <h6 class="author-title"><%= ejsAuthor[post.author_id-1].name%></h6>
    <h6 class="date-time">posted on 
      <%= new Intl.DateTimeFormat('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: false}).format(Date.parse(post.created_at))%>
    </h6>
  </div>
  <div class="card-body d-flex flex-row">
    <img
      src="<%= post.image_url%>"
      alt="<%= post.title%>"
      width="400"
      height="300"
    />
    <div class="px-3 d-flex flex-column">
      <h4 ><%= post.title %></h4>
      <p><%= post.body %></p>
    </div>
  </div>
</div>

<% }) %> <%- include("./partials/footer"); -%>
